@import '../../global/_colors'

.searchbar
  position: relative
  display: grid
  grid-template-columns: [startline] repeat(3, 1fr) [endline]
  grid-template-rows: [startline] 1fr auto 1fr [endline]
  grid-template-areas: "title title datasort" "filter filter filter"
  gap: 24px
  .title
    grid-area: title
    font-weight: 600
    font-size: 48px
    line-height: 56px
  &__filter
    display: flex
    align-items: center
    min-height: 48px
    grid-area: filter
    border: 1px solid $-color-gray-extra-light
    box-sizing: border-box
    border-radius: 8px
    padding: 0 12px
    .select-wrapper
      position: relative
      display: flex
      &::after
        content: ""
        position: absolute
        width: 20px
        height: 20px
        background: url('./Arrows/arrow-24px.svg') no-repeat
        top: 50%
        right: 12px
        transform: translateY(calc( -50% + 2px ))
        pointer-events: none
      select
        display: block
        height: 100%
        width: 100%
        font-size: 16px
        line-height: 16px
        appearance: none

        padding: 0px 48px 0 28px
        border: none
        cursor: pointer
        background: none
        border-right: 1px solid $-color-gray-extra-light
    .checkbox
      position: relative
      display: flex
      align-items: center
      height: 100%
      padding: 4px 16px
      font-weight: normal
      font-size: 16px
      line-height: 1
      text-transform: uppercase
      white-space: pre
      &::after
        content: ''
        position: absolute
        right: 0
        height: calc(100% - 32px)
        width: 1px
        background: $-color-gray-extra-light
      &-wrapper
        margin-right: 4px
      label
        padding: 4px 12px
        border: 1px solid $-color-gray-extra-light
        border-radius: 8px
        background: white
        user-select: none
        box-sizing: border-box
        transition: 0.3s all ease
        cursor: pointer
      input
        padding: 8px 12px
        position: absolute
        opacity: 0
        &:checked + label
          background: $-color-base
          color: white
          border: 1px solid $-color-base

    .result
      flex-grow: 1
      width: auto
      text-align: right
      color: $-color-gray
      font-weight: normal
      font-size: 12px
      line-height: 14px

#datasort
  font-size: 16px
  line-height: 16px
  grid-area: datasort
  border: none
